<a href="<%= url_for(dog) %>">
  <article>
    <h2 class="dog-name"><%= dog.name %></h2>
    <h3><%= dog.likes.count %> <%= (dog.likes.count) == 1 ? 'Like' : 'Likes'%></h3>
    <%= image_tag url_for(dog.images.first), class: "dog-photo", alt: "Photo of #{dog.name}" %>
  </article>
</a>
